node_modules
docroot/css/
docroot/fonts/
docroot/scripts/
docroot/jbrowse/data/
docroot/jbrowse/dist/
docroot/jbrowse
make.config
screen-analyzer
obj/
obj.dbg/
rsrc/version.txt
src/mrsrc.h
.vscode/
version-info-*.txt
core
screen-analyzer.conf
autom4te.cache/
GNUmakefile
src/config.hpp
config.status
config.log
*.csv
*.bed
src/config.hpp.in~
