[submodule "libconfig"]
	path = libconfig
	url = https://github.com/mhekkel/libconfig.git
[submodule "gxrio"]
	path = gxrio
	url = https://github.com/mhekkel/gxrio.git
[submodule "squeeze"]
	path = squeeze
	url = https://github.com/mhekkel/squeeze.git
