<!DOCTYPE html SYSTEM "about:legacy-compat" [
<!ENTITY nbsp "&#160;">
]>
<html lang="en" xmlns:th="http://www.hekkelman.com/libzeep/m2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head th:replace="head :: head(~{::title}, ~{}, ~{::script})">
	<title>Welcome - Phenosaurus</title>

	<script src="/scripts/admin-screen.js" th:src="@{/scripts/admin-screen.js}"></script>
</head>

<body>
	<nav th:replace="~{menu :: menu}"></nav>
	<div th:replace="edit-screens :: screens(true)"></div>
	<footer th:replace="~{footer :: content}"></footer>
</body>

</html>