@use "sass:math";

// (Required) Import Bootstrap
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

$navbar-padding-x: 1rem;
$navbar-padding-y: 0.5rem;

@import "bootstrap/scss/bootstrap";

$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

@import './signin.css';
@import './styles.css';

// Force footer to the bottom

.site {
	display: flex;
	min-height: 100vh;
	height: 100%;
	flex-direction: column;

	header,
	footer {
		flex: none;
	}

	header {
		.navbar {
			background-image: linear-gradient(#1d4853, #143435);

			.navbar-brand img {
				max-height: 2rem;
			}
		}
	}

	.site-content {
		flex: 1 0 auto;
		// padding: var(--space) var(--space) 1rem;
		width: 100%;

		&::after {
			content: '\00a0';
			/* &nbsp; */
			display: block;
			// margin-top: var(--space);
			height: 0px;
			visibility: hidden;
		}
	}

	footer {
		clear: both;
		border-top: 1px solid #888;
		padding: 0.5em;
		margin-top: 2em;
		font-size: small;
		color: #555;
		white-space: pre;
	}
}

div.option-row {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em 1em;
	margin: 1em;

	.screen-selector {
		width: 15em;
	}
}

/*
	For the gene info tooltip window
 */

#gene-info-dialog {
	position: absolute;
	z-index: 9;
	/*border: solid 1px black;*/
	border-radius: .3rem;
	/*margin: 0.5em;*/
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
	display: none;
	box-sizing: border-box;

	.content {
		background-color: white;
		padding: 0.5rem;
		color: black;
	}

	table {
		font-size: small;
		max-height: 200px;
		overflow-y: auto;
	}
}

/* Plot titles */

div.plot-title {

	margin-bottom: 1em;

	&.plot-status-loading {

		span.failed,
		span.loaded,
		span.no-hits {
			display: none;
		}
	}

	&.plot-status-loaded {

		span.failed,
		span.loading,
		span.no-hits {
			display: none;
		}
	}

	&.plot-status-failed {

		span.loading,
		span.loaded,
		span.no-hits {
			display: none;
		}
	}

	&.plot-status-no-hits {

		span.loading,
		span.loaded,
		span.failed {
			display: none;
		}
	}
}

/* context menu */

.context-menu {
	display: none;
	position: absolute;
	z-index: 10;
	background-color: #fff;

	&.active {
		display: block;
	}
}