@use "sass:math";

// (Required) Import Bootstrap
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

$navbar-padding-x: 1rem;
$navbar-padding-y: 0.5rem;

@import "bootstrap/scss/bootstrap";

$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";   
@import "~bootstrap-icons/font/bootstrap-icons.scss";       

@import './signin.css';
@import './styles.css';
@import './contextMenu.css';


/*
	For the gene info tooltip window
 */

 #gene-info-dialog {
	position: absolute;
	z-index: 9;
	/*border: solid 1px black;*/
	border-radius: .3rem;
	/*margin: 0.5em;*/
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
	display: none;
box-sizing: border-box;

	.content {
		background-color: white;
		padding: 0.5rem;
		color: black;
	}

	table {
		font-size: small;
		max-height: 200px;
		overflow-y: auto;
	}
}

/* Plot titles */

div.plot-title {

	margin-bottom: 1em;

	&.plot-status-loading {
		span.failed,
		span.loaded,
		span.no-hits {
			display: none;
		}
	}

	&.plot-status-loaded {
		span.failed,
		span.loading,
		span.no-hits {
			display: none;
		}
	}

	&.plot-status-failed {
		span.loading,
		span.loaded,
		span.no-hits {
			display: none;
		}
	}

	&.plot-status-no-hits {
		span.loading,
		span.loaded,
		span.failed {
			display: none;
		}
	}
}